<template>
    <div class="form-event-add" id="add-event">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500" rel="stylesheet">
        <h2>Add a New Event - 2018</h2>
        <form v-if="!submitted">
            <div class="select-style">
                <select type="text" v-model.lazy="event.day" required>
                    <option selected=selected value="">Day</option>
                    <option value="1">1st</option>
                    <option value="2">2nd</option>
                    <option value="3">3rd</option>
                    <option value="4">4th</option>
                    <option value="5">5th</option>
                    <option value="6">6th</option>
                    <option value="7">7th</option>
                    <option value="8">8th</option>
                    <option value="9">9th</option>
                    <option value="10">10th</option>
                    <option value="11">11th</option>
                    <option value="12">12th</option>
                    <option value="13">13th</option>
                    <option value="14">14th</option>
                    <option value="15">15th</option>
                    <option value="16">16th</option>
                    <option value="17">17th</option>
                    <option value="18">18th</option>
                    <option value="19">19th</option>
                    <option value="20">20th</option>
                    <option value="21">21st</option>
                    <option value="22">22nd</option>
                    <option value="23">23rd</option>
                    <option value="24">24th</option>
                    <option value="25">25th</option>
                    <option value="26">26th</option>
                    <option value="27">27th</option>
                    <option value="28">28th</option>
                    <option value="29">29th</option>
                    <option value="30">30th</option>
                    <option value="31">31st</option>
                </select>
            </div>
            <div class="select-style">
                <select class="input-height" type="text" v-model.lazy="event.month" required>
                    <option selected="selected" value="">Month</option>
                    <option value="Jan">January</option>
                    <option value="Feb">February</option>
                    <option value="Mar">March</option>
                    <option value="Apr">April</option>
                    <option value="May">May</option>
                    <option value="Jun">June</option>
                    <option value="Jul">July</option>
                    <option value="Aug">August</option>
                    <option value="Sep">September</option>
                    <option value="Oct">October</option>
                    <option value="Nov">November</option>
                    <option value="Dec">December</option>
                </select>
            </div>
            <input class="band-inputs" placeholder="Headlining Band"  v-model.lazy="event.headliner"/>
            <br>
            <input class="band-inputs" placeholder="Support Bands" v-model.lazy="event.supports"/>
            <br>
            <div id="checkboxes">
                <h3>Event Venue:</h3>
                <input type="checkbox" value="The UEA" v-model="event.venue"/>
                <label>The UEA</label>
                <input type="checkbox" value="The Waterfront" v-model="event.venue"/>
                <label>The Waterfront</label>
                <input type="checkbox" value="The Waterfront Studio" v-model="event.venue"/>
                <label>The Waterfront Studio</label>
            </div>
            <div class="select-style">
                <select class="input-height" type="text" v-model="event.whowent" required>
                    <option selected=selected value="">Went with...</option>
                    <option v-for="whowent in people">{{ whowent }}</option>
                </select>
            </div>
            <button class="eventAdd" v-on:click.prevent="post">Add Event</button>
        </form>
        <div v-if="submitted">
            <h3>Event Created!</h3>
        </div>
        <div id="preview">
            <p class="eventHeadliner">{{ event.headliner }}</p>
            <p class="eventSupports">+ {{ event.supports }}</p>
            <p class="eventDate">{{ event.day }} {{ event.month }} 2018</p>
            <p class="eventVenue" v-for="venue in event.venue">@ {{ venue }}</p>
            <p class="eventWhoWent">with {{ event.whowent }}</p>
        </div>
    </div>
</template>

<script>
export default {
  data () {
    return {
      event: {
        day: '',
        month: '',
        headliner: '',
        supports: '',
        venue: [],
        whowent: ''
      },
      people: ['Ashley', 'Chris', 'Jessie', 'Lucy'],
      submitted: false
    }
  },
  methods: {
    post: function () {
      this.$http.post('http://jsonplaceholder.typicode.com/posts', {
        day: this.event.day,
        month: this.event.month,
        headliner: this.event.headliner,
        supports: this.event.supports,
        venue: this.event.venue,
        whowent: this.event.whowent,
        userId: 1
      }).then(function (data) {
        console.log(data)
        this.submitted = true
      })
    }
  }
}
</script>
