<template>
    <div id="app">
        <div class="container col-md-10">
        </div>
    </div>
</template>

<style lang="less">
    @import '../assets/less/style.less';
</style>

<script>
export default {
  name: 'Home',
  data () {
    return {
      title: 'Title'
    }
  }
}
</script>
