<template>
    <div>
        <h1>Resources</h1>
        <div class="link-box col-md-6">
            <h3>Essential Links</h3>
            <ul>
                <li><a href="https://vuejs.org" target="_blank">Core Docs</a></li>
                <li><a href="https://forum.vuejs.org" target="_blank">Forum</a></li>
                <li><a href="https://chat.vuejs.org" target="_blank">Community Chat</a></li>
                <li><a href="https://twitter.com/vuejs" target="_blank">Twitter</a></li>
                <li><a href="http://vuejs-templates.github.io/webpack/" target="_blank">Docs for This Template</a></li>
            </ul>
        </div>
        <div class="link-box col-md-6">
            <h3>Ecosystem</h3>
            <ul>
                <li><a href="http://router.vuejs.org/" target="_blank">vue-router</a></li>
                <li><a href="http://vuex.vuejs.org/" target="_blank">vuex</a></li>
                <li><a href="http://vue-loader.vuejs.org/" target="_blank">vue-loader</a></li>
                <li><a href="https://github.com/vuejs/awesome-vue" target="_blank">awesome-vue</a></li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Resources',
  data () {
    return {
      UserInput: ''
    }
  }
}

</script>

<style scoped>

</style>
