/* App.vue -----------------------------*/
#app {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Home.vue -----------------------*/
.container {
    margin: 0 auto;
    h1 {
        margin: 30px;
    }
}

h1, h2 {
    font-weight: normal;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

/* addBlog.vue -----------------------*/
.form-event-add {
    background: -webkit-linear-gradient(#4e54c8, #8f94fb);
    background: linear-gradient(#4e54c8, #8f94fb);
    opacity: 0.85;
    width: 600px;
    height: 810px;
    box-shadow: 5px 5px 15px 3px darkgrey;
}

h2 {
    color: white;
    margin: 10px;
}

.select-style {
    border: none;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 20px;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: white;
    opacity: 0.5;
    -webkit-appearance: none;
    color: midnightblue;

    &:focus {
        outline: none;
        border: none;
    }
}

.band-inputs {
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background: white;
    opacity: 0.5;
    margin-bottom: 20px;
    color: midnightblue;
}

::-webkit-input-placeholder {
    color: midnightblue;
}

#add-event *{
    box-sizing: border-box;
}

#add-event {
    margin: 20px auto;
    max-width: 700px;
    padding: 20px;
}

label {
    display: inline-block;
    margin: 20px 0 10px 0;
}

#preview {
    padding: 20px;
    border: 1px solid white;
    margin-top: 30px;
    text-align: center;
    background: white;
    opacity: 0.5;

    p {
        color: black;
    }
}

h3 {
    margin-top: 10px;
}

#checkboxes {
    input {
        display: inline-block;
        margin: 0;
        height: 20px;
        padding: 0;
        overflow: hidden;
        vertical-align: middle;
    }
    label {
        display: inline-block;
        color: white;
        opacity: 0.8;
        margin-right: 20px;
    }
    h3 {
        color: white;
        font-size: 18px;
        opacity: 0.8;
    }
}

.eventHeadliner {
    font-size: 25px;
    text-transform: uppercase;
}

.eventAdd {
    background: midnightblue;
    border: none;
    font-size: 18px;
    color: white;
    padding: 0 30px 0 30px;
    line-height: 50px;
    letter-spacing: 0.08em;
    border-radius: 50px 50px 50px 50px;
    margin-top: 15px;
    &:hover {
        background: darkred;
    }
    &:focus {
        outline: none;
    }
}
