<template>
    <div id="app">
        <div class="home">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <router-link v-bind:to="'/'" class="navbar-brand">Reflection Day - Vue</router-link>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <router-link v-bind:to="'/about'" class="nav-link">
                                About
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <router-link v-bind:to="'/resources'" class="nav-link">
                                Resources
                            </router-link>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
            <router-view></router-view>
        </div>
        <add-blog></add-blog>
    </div>
</template>

<script>
import addBlog from './components/addBlog'

export default {
  components: {
    'add-blog': addBlog
  },
  data () {
    return {}
  }
}
</script>

<style lang="scss">
    @import '../node_modules/bootstrap/scss/bootstrap.scss';
</style>

<style lang="less">
    @import './assets/less/style.less';
</style>
